USE [ibonus]
GO
/****** Object:  StoredProcedure [dbo].[spCanteentranSummary_New]    Script Date: 06-06-2026 00:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC spCanteentranSummary_New '2025-04-06','2026-05-06','','','','',1,50,0
--EXEC spCanteentranSummary '2025-04-06','2026-05-06','','','',''
ALTER PROCEDURE [dbo].[spCanteentranSummary_New]
(
    @startdate DATE,
    @enddate DATE,
    @transaciontype NVARCHAR(40),
    @customerid VARCHAR(20),
    @branch VARCHAR(20),
    @SchoolId VARCHAR(10),
    @Start INT = 0,
    @Length INT = 0,
    @TotalCount INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    SET @Start = ISNULL(@Start, 0);

    IF @Start < 0
        SET @Start = 0;

    CREATE TABLE #TypeIds
    (
        Id INT PRIMARY KEY
    );

    IF ISNULL(@transaciontype,'') = ''
    BEGIN
        INSERT INTO #TypeIds
        VALUES
        (21002),
        (21006),
        (1004),
        (2004);
    END
    ELSE
    BEGIN
        INSERT INTO #TypeIds
        VALUES (CAST(@transaciontype AS INT));
    END;

    CREATE TABLE #TMP
    (
        StudCode VARCHAR(50),
        StudFirstName NVARCHAR(200),
        [Datetime] DATETIME,
        CustomerID VARCHAR(20),
        Price DECIMAL(15,2),
        Quantity INT,
        Amount DECIMAL(15,2),
        TransactionType NVARCHAR(100),
        BalPrepaid DECIMAL(18,2),
        ItemCode VARCHAR(50),
        [Location] NVARCHAR(200)
    );

    -----------------------------------------------------------------------
    -- PURCHASE TRANSACTIONS
    -----------------------------------------------------------------------

    INSERT INTO #TMP
    (
        StudCode,
        StudFirstName,
        [Datetime],
        CustomerID,
        Price,
        Quantity,
        Amount,
        TransactionType,
        BalPrepaid,
        ItemCode,
        [Location]
    )
    SELECT
        CASE
            WHEN A.CustomerID = '208' THEN 'Cash'
            WHEN A.CustomerID = '209' THEN 'Bank Card'
            ELSE A.CustomerID
        END,
        ISNULL(SL.StudFirstName,'') + ' ' + ISNULL(SL.StudLastName,''),
        A.LogDateTimeTerminal,
        A.CustomerID,
        P.Amount,
        1,
        P.Amount,
        S.ItemName,
        A.BalPrepaid,
        S.ItemCode,
        T.Description
    FROM POSPurchase P
        INNER JOIN AccessLog A
            ON P.TransId = A.TransactionID
            AND P.CustomerID = A.CustomerID
        LEFT JOIN StudentLogin SL
            ON SL.CustomerID = P.CustomerID
        INNER JOIN SKU S
            ON S.ItemCode = P.SkuCode
        INNER JOIN IDTerminals T
            ON T.TerminalCode = A.TerminalCode
            AND T.BranchCode = A.BranchCode
    WHERE
        A.TransactionType IN (SELECT Id FROM #TypeIds)
        AND (@customerid = '' OR P.CustomerID = @customerid)
        AND (@branch = '' OR A.TerminalCode = @branch)
        AND (@SchoolId = '' OR A.BranchCode = @SchoolId)
        AND A.LogDateTimeTerminal >= @startdate
        AND A.LogDateTimeTerminal < DATEADD(DAY,1,@enddate)
    UNION ALL
    SELECT
        CASE
            WHEN A.CustomerID = '208' THEN 'Cash'
            WHEN A.CustomerID = '209' THEN 'Bank Card'
            ELSE A.CustomerID
        END,
        '',
        A.LogDateTimeTerminal,
        A.CustomerID,
        A.Amount,
        1,
        A.Amount,
        'Cash',
        A.BalPrepaid,
        '',
        ISNULL(T.Description,'')
    FROM AccessLog A
        LEFT JOIN IDTerminals T
            ON T.TerminalCode = A.TerminalCode
            AND T.BranchCode = A.BranchCode
    WHERE
        A.TransactionType = 1004
        AND A.CustomerID IN ('208','209')
        AND (@branch = '' OR A.TerminalCode = @branch)
        AND (@SchoolId = '' OR A.BranchCode = @SchoolId)
        AND A.LogDateTimeTerminal >= @startdate
        AND A.LogDateTimeTerminal < DATEADD(DAY,1,@enddate)
    OPTION (RECOMPILE);

    -----------------------------------------------------------------------
    -- TEMP TABLE INDEX
    -----------------------------------------------------------------------

    CREATE CLUSTERED INDEX IX_TMP
    ON #TMP([Datetime] DESC, StudCode);

    -----------------------------------------------------------------------
    -- TOTAL COUNT
    -----------------------------------------------------------------------

    SELECT
        @TotalCount = COUNT(*)
    FROM #TMP;

    -----------------------------------------------------------------------
    -- PAGING
    -----------------------------------------------------------------------

    IF ISNULL(@Length,0) <= 0
    BEGIN
        SELECT *
        FROM #TMP
        ORDER BY [Datetime] DESC, StudCode;
    END
    ELSE
    BEGIN
        SELECT *
        FROM #TMP
        ORDER BY [Datetime] DESC, StudCode
        OFFSET @Start ROWS
        FETCH NEXT @Length ROWS ONLY;
    END

    DROP TABLE #TMP;
    DROP TABLE #TypeIds;
END
GO